@import"https://fast.fonts.net/lt/1.css?apiType=css&c=f81851fb-fb48-4f40-b701-6dd0fe3001d7&fontids=5127327";
*,
:after,
:before {
    box-sizing: border-box
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: Neue Haas Grotesk;
    src: url(/fonts/5127327/3a88f98c-1faa-4a99-9993-44eaa5357e0f.woff2) format("woff2");
    font-display: fallback
}

:root {
    --bgFrom: #fff;
    --bgTo: #fff;
    --accentYellow: #eae800;
    --easing: cubic-bezier(0.25, 1, 0.5, 1)
}

* {
    -webkit-tap-highlight-color: transparent
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
    background-color: var(--bgFrom)
}

html,
html:before {
    width: 100%;
    height: 100%;
    transition: background-color 1s var(--easing)
}

html:before {
    content: "";
    bottom: 0;
    position: fixed;
    background-color: var(--bgTo);
    -webkit-mask-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 10%, #fff 40%, #fff);
    mask-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 10%, #fff 40%, #fff);
    opacity: 0;
    -webkit-animation: fadeIn 2s var(--easing) forwards;
    animation: fadeIn 2s var(--easing) forwards
}

body {
    font-family: Neue Haas Grotesk, sans-serif;
    -webkit-font-smoothing: antialiased
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    outline: none
}

a,
button {
    color: inherit
}

a {
    text-decoration: none
}

img {
    display: block
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes colorIn {
    0% {
        fill: #fff
    }
    to {
        fill: #222
    }
}

@keyframes colorIn {
    0% {
        fill: #fff
    }
    to {
        fill: #222
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideIn {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}